<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <ioc>
        <processor type="Sitecore.XA.Foundation.DynamicPlaceholders.Pipelines.IoC.RegisterDynamicPlaceholdersServices, Sitecore.XA.Foundation.DynamicPlaceholders">
          <patch:delete/>
        </processor>

        <processor type="Sitecore.Support.XA.Foundation.DynamicPlaceholders.Pipelines.IoC.RegisterDynamicPlaceholdersServices, Sitecore.Support.12543" patch:after="processor[@type='Sitecore.XA.Feature.Taxonomy.Pipelines.IOC.RegisterTaxonomyServices, Sitecore.XA.Feature.Taxonomy']"/>
      </ioc>
    </pipelines>
  </sitecore>
</configuration>