<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <services>
      <configurator type="Support.RegisterDependencies, Sitecore.Support.12543" />
    </services>
    <pipelines>
      <decorateRendering>
        <processor type="Sitecore.XA.Foundation.Grid.Pipelines.DecorateRendering.GetGridCssClasses, Sitecore.XA.Foundation.Grid" >
          <patch:attribute name="type">Sitecore.Support.XA.Foundation.Grid.Pipelines.DecorateRendering.GetGridCssClasses, Sitecore.Support.12543</patch:attribute>
        </processor>
      </decorateRendering>
    </pipelines>
    <commands>
      <command name="webedit:setgridsettings" set:type="Sitecore.Support.XA.Foundation.Grid.Commands.SetGridValues, Sitecore.Support.12543" />
      <command name="webedit:showgridparameterersdialog" set:type="Sitecore.Support.XA.Foundation.Grid.Commands.ShowGridPropertiesDialog, Sitecore.Support.12543"/>
    </commands>
  </sitecore>
</configuration>