<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <services>
      <configurator type="Sitecore.Support.RegisterDependencies, Sitecore.Support.12543" />
    </services>
    <pipelines>
      <ceImport.importPageProcessing>
        <processor type="Sitecore.XA.Feature.CreativeExchange.Pipelines.Import.PageProcessing.GetGridDefinitionClasses, Sitecore.XA.Feature.CreativeExchange" >
          <patch:attribute name="type">Sitecore.Support.XA.Feature.CreativeExchange.Pipelines.Import.PageProcessing.GetGridDefinitionClasses, Sitecore.Support.12543</patch:attribute>
        </processor>
      </ceImport.importPageProcessing>
      <ceImport.importRenderingProcessing>
        <processor type="Sitecore.XA.Feature.CreativeExchange.Pipelines.Import.RenderingProcessing.GridStylesImporter, Sitecore.XA.Feature.CreativeExchange" >
          <patch:attribute name="type">Sitecore.Support.XA.Feature.CreativeExchange.Pipelines.Import.RenderingProcessing.GridStylesImporter, Sitecore.Support.12543</patch:attribute>
        </processor>
      </ceImport.importRenderingProcessing>
      <decorateRendering>
        <processor type="Sitecore.XA.Foundation.Grid.Pipelines.DecorateRendering.GetGridCssClasses, Sitecore.XA.Foundation.Grid" >
          <patch:attribute name="type">Sitecore.Support.XA.Foundation.Grid.Pipelines.DecorateRendering.GetGridCssClasses, Sitecore.Support.12543</patch:attribute>
        </processor>
      </decorateRendering>
    </pipelines>
    <commands>
      <command name="webedit:setgridsettings" set:type="Sitecore.Support.XA.Foundation.Grid.Commands.SetGridValues, Sitecore.Support.12543" />
      <command name="webedit:showgridparameterersdialog" set:type="Sitecore.Support.XA.Foundation.Grid.Commands.ShowGridPropertiesDialog, Sitecore.Support.12543"/>
    </commands>
    <controlSources>
      <source namespace="Sitecore.XA.Foundation.Grid.Fields.FieldTypes">
        <patch:attribute name="assembly">Sitecore.Support.12543</patch:attribute>
        <patch:attribute name="namespace">Sitecore.Support.XA.Foundation.Grid.Fields.FieldTypes</patch:attribute>
      </source>
    </controlSources>
  </sitecore>
</configuration>